entry-activity-indicator {
    display: block;

    /* the file background color is moved to the button container */
    & .button-pile .button {
        --btn-background-color: transparent !important;
        --btn-backdrop-filter: none !important;
    }

    & .button[data-state='intro'] {
        opacity: 0;
        --btn-icon-transform: scale(0.9) var(--indicator-button-intro, translateX(0));
    }

    & .button[data-state='idle'] {
        --btn-icon-transform: scale(1) var(--indicator-button-idle, translateX(0));
    }

    & .button[data-state='outro'] {
        opacity: 0;
        --btn-icon-transform: scale(0.9) var(--indicator-button-outro, translateX(0));
    }

    /* this mimics the button fill */
    & .button-pile {
        z-index: 1;
        align-self: flex-start;
        background-color: var(--btn-background-color);
        border-radius: var(--btn-border-radius);
        backdrop-filter: var(--btn-backdrop-filter);
    }

    & progress-indicator {
        --progress-color: var(--btn-color, currentColor);
        --track-size: calc(var(--btn-size, 1.5em) - 0.25em);
        --border-radius: calc(var(--btn-border-radius) - 0.125em);

        transition: none;
        pointer-events: none;
    }

    & element-stack {
        & > *:not(element-stack) {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            pointer-events: none;
        }

        /* component root intro animation */
        opacity: 0;
        transition: opacity var(--_200ms) ease-out;
        &:not(:empty) {
            opacity: 1;
        }
    }
}
