{
    "retainLines": true,
    "presets": [
        ["@babel/preset-env", {
            "exclude": ["transform-typeof-symbol"],
            "modules": false
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-object-rest-spread", {
            "loose": true, 
            "useBuiltIns": true
        }],
        ["@babel/plugin-transform-template-literals", {
            "loose": true
        }]
    ],
    "env": {
        "test": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "node": "current"
                    }
                }]
            ]
        }
    }
}