{
    "retainLines": true,
    "presets": [
        ["@babel/preset-env", {
            "exclude": ["transform-typeof-symbol"],
            "modules": false
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-object-rest-spread", {
            "loose": true, 
            "useBuiltIns": true
        }]
    ]
}