.entry-list {
    contain: layout;

    /* when an item is detached we pad the bottom so scroll isn't affected */
    padding-bottom: var(--_detached-entry-spacing);
}

.entry-list-item {
    /* Creates new stacking context without explicit positioning */
    isolation: isolate;

    /* We remove the item from the flow so other elements take its place */
    &[data-detach] {
        position: fixed;
        width: var(--_detached-entry-width);
        height: var(--_detached-entry-height);
    }

    /* While dragging position on top of other elements */
    &[data-render-above] {
        z-index: 1;
    }

    /* While dragging position on top of other elements */
    &[data-render-below] {
        z-index: -1;
    }

    /* While dragging disable hover effects on elements in subtree */
    &[data-dragging] * {
        pointer-events: none !important;
    }

    /* While dragging we switch to lifted shadow */
    &[data-dragging] {
        --entry-shadow: var(--entry-lifted-shadow);
        & > div {
            z-index: 2147483647;
        }
    }

    /* we make room for placeholder */
    &[data-placeholder] {
        min-height: 1em;
    }
}

/* virtual list item */
.entry-list-item:not([data-placeholder]):empty {
    min-height: var(--entry-min-height);
    background-color: var(--entry-background-color);
    border-radius: var(--entry-border-radius);
}
