:host {
    /* improve font rendering */
    -webkit-font-smoothing: antialiased;

    /* default styles */
    display: block;
    position: relative;
    isolation: isolate;
    line-height: var(--default-line-height, 1.5);
    font-family: var(--default-font-family, inherit);

    /* needs to have a height for form validation to work */
    min-height: 1px;

    /* default slot rendering */
    & slot:not(:empty) {
        display: block;
    }
}

/* disable user selection when disabled */
:host([disabled]) {
    user-select: none;
}
