/* No nested styles in this CSS file as for some weird reason this crashed Safari (tested on 17.6 Sonoma) */
.root {
    /* create new stacking context for FilePondEntryList and its subtree */
    isolation: isolate;

    /* Default styles */
    text-align: start;
    font-weight: 500;

    /* Disabled state */
    &[data-disabled] * {
        pointer-events: none !important;
    }
}

:host {
    --entry-min-height: 2.5em;
    --entry-padding: calc(var(--default-padding) * 0.5);
    --entry-shadow: none;
    --entry-color: currentColor;
    --entry-background-color: inherit;
    --entry-overlay-color: none;
    --entry-border-radius: calc(var(--default-border-radius, 0) * 0.5);
    --entry-border: var(--default-border, none);
    --entry-accent-color: var(--default-accent-color);

    --media-background-color: black;
}

/* move to top when dragging children */
:host([dragging]) {
    z-index: 2147483647;
}
