.filepond--drop-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    color: #4f4f4f;

    /* center contents */
    display: flex;
    justify-content: center;
    align-items: center;

    /* fixes IE11 centering problems (is overruled by label min-height) */
    height: 0px;

    /* dont allow selection */
    user-select: none;

    /* will be animated */
    will-change: transform, opacity;
}

/* Hard to override styles on purpose */
.filepond--drop-label.filepond--drop-label label {
    display: block;
    margin: 0;
    padding: 0.5em; /* use padding instead of margin so click area is not impacted */
}

.filepond--drop-label label {
    cursor: default;
    font-size: 0.875em;
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
}

.filepond--label-action {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-color: #a7a4a4;
    cursor: pointer;
}

.filepond--root[data-disabled] {
    & .filepond--drop-label label {
        opacity: 0.5;
    }
}
