/* Hard to override styles */
.filepond--file-action-button.filepond--file-action-button {
    font-size: 1em;
    width: 1.625em;
    height: 1.625em;

    font-family: inherit;
    line-height: inherit;

    margin: 0;
    padding: 0;
    border: none;
    outline: none;

    will-change: transform, opacity;

    /* hidden label */
    & span {
        position: absolute;
        overflow: hidden;
        height: 1px;
        width: 1px;
        padding: 0;
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        white-space: nowrap;
    }

    /* scale SVG to fill button */
    & svg {
        width: 100%;
        height: 100%;
    }

    /* bigger touch area */
    &::after {
        position: absolute;
        left: -0.75em;
        right: -0.75em;
        top: -0.75em;
        bottom: -0.75em;
        content: '';
    }
}

/* Soft styles */
.filepond--file-action-button {
    /* use default arrow cursor */
    cursor: auto;

    /* reset default button styles */
    color: #fff;

    /* set default look n feel */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;

    /* we animate box shadow on focus */
    /* it's only slightly slower than animating */
    /* a pseudo-element with transforms and renders */
    /* a lot better on chrome */
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    transition: box-shadow 0.25s ease-in;

    &:hover,
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
    }

    &[disabled] {
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0.25);
    }

    &[hidden] {
        display: none;
    }
}

/* edit button */
.filepond--action-edit-item.filepond--action-edit-item {
    width: 2em;
    height: 2em;
    padding: 0.1875em;

    &[data-align*='center'] {
        margin-left: -0.1875em;
    }

    &[data-align*='bottom'] {
        margin-bottom: -0.1875em;
    }
}

.filepond--action-edit-item-alt {
    border: none;
    line-height: inherit;
    background: transparent;
    font-family: inherit;
    color: inherit;
    outline: none;
    padding: 0;
    margin: 0 0 0 0.25em;
    pointer-events: all;
    position: absolute;

    svg {
        width: 1.3125em;
        height: 1.3125em;
    }

    span {
        font-size: 0;
        opacity: 0;
    }
}
