.filepond--file-status {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 0;
    flex-shrink: 0;

    margin: 0;
    min-width: 2.25em;
    text-align: right;

    // will be animated
    will-change: transform, opacity;

    // can't do anything with this info
    pointer-events: none;
    user-select: none;

    // no margins on children
    * {
        margin: 0;
        white-space: nowrap;
    }

    // font sizes
    .filepond--file-status-main {
        font-size: 0.75em;
        line-height: 1.2;
    }

    .filepond--file-status-sub {
        font-size: 0.625em;
        opacity: 0.5;
        transition: opacity .25s ease-in-out;
    }
}
