.filepond--root {
    /* layout*/
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1em;

    /* base font size for whole component */
    font-size: 1rem;

    /* base line height */
    line-height: normal;

    /* up uses default system font family */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    /* will increase font weight a bit on Safari */
    font-weight: 450;

    /* default text alignment */
    text-align: left;

    /* better text rendering on Safari */
    text-rendering: optimizeLegibility;

    /* text direction is ltr for now */
    direction: ltr;

    /* optimize rendering */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/contain */
    contain: layout style size;

    /* correct box sizing, line-height and positioning on child elements */
    & * {
        box-sizing: inherit;
        line-height: inherit;
    }

    & *:not(text) {
        font-size: inherit;
    }

    /* block everything */
    &[data-disabled] {
        pointer-events: none;

        .filepond--list-scroller {
            pointer-events: all;
        }

        .filepond--list {
            pointer-events: none;
        }
    }
}

/**
 * Root element children layout
 */
.filepond--root {
    & .filepond--drop-label {
        min-height: 4.75em;
    }

    & .filepond--list-scroller {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    & .filepond--credits {
        position: absolute;
        right: 0;
        opacity: 0.175;
        line-height: 0.85;
        font-size: 11px;
        color: inherit;
        text-decoration: none;
        z-index: 3;
        bottom: -14px;
    }

    & .filepond--credits[style] {
        top: 0;
        bottom: auto;
        margin-top: 14px;
    }
}
